body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    /* padding: 16px 120px 16px 120px; */
}
.container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 16px 24px 16px 24px;
    cursor: pointer;
}
.nav-logo{
    width: 139px;
    height: 60px;
    padding: 16px 24px 16px 120px;
}
.nav-btn{
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 120px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    background-color: #469165;
    color: white;
    font: 600;
    cursor: pointer;
}
.banner{
    background: url("../images/hero-bg.png");
    width: 1600px;
    height: 674px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 70px 120px 134px 120px; */
    gap: 20px;
}
.banner-content{
    position: relative;
    text-align: center;
}
.banner-content h1{
    font-weight: 700;
    font-style: bold;
    font-size: 72px;
    line-height: 84px;
}
.banner-content h1 span{
    color: #30B868;
}
.banner-content p{
    width: 1360px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.badge{
    display: inline-block;
    padding: 8px 12px 8px 12px;
    margin-top: 1px;
    background-color: #FFFFFF;
    color: #30b868;
    border-radius: 1000px;
}
.btn1{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    color: #FFFFFF;
    cursor: pointer;
}
.btn2{
    width: 198px;
    height: 52px;
    border: 1px solid;
    border-radius: 4px;
    gap: 10px;
    color: #FFFFFF;
    cursor: pointer;
    background: transparent;
}
/* .main-content1{
    text-align: center;
} */
.main-heading1{
    text-align: center;
    gap: 16px;
}
.main-heading1 h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #001931;
}
.main-heading1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}