body{
    margin: 0;
    padding: 0;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.container{
    width: 1600px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    /* padding: 16px 120px 16px 120px; */
}
.container ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 16px 24px 16px 24px;
    cursor: pointer;
}
.nav-logo{
    width: 139px;
    height: 60px;
    padding: 16px 24px 16px 120px;
}
.nav-btn{
    width: 164px;
    height: 44px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 120px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    background-color: #469165;
    color: white;
    font: 600;
    cursor: pointer;
}
.banner{
    background: url("../images/hero-bg.png");
    width: 1600px;
    height: 674px;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 70px 120px 134px 120px; */
    gap: 20px;
}
.banner-content{
    position: relative;
    text-align: center;
}
.banner-content h1{
    font-weight: 700;
    font-style: bold;
    font-size: 72px;
    line-height: 84px;
}
.banner-content h1 span{
    color: #30B868;
}
.banner-content p{
    width: 1360px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.badge{
    display: inline-block;
    padding: 8px 12px 8px 12px;
    margin-top: 1px;
    background-color: #FFFFFF;
    color: #30b868;
    border-radius: 1000px;
}
.btn1{
    background-color: #469165;
    border: none;
    border-radius: 4px;
    width: 251px;
    height: 52px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}
.btn2{
    width: 198px;
    height: 52px;
    border: 1px solid;
    border-radius: 4px;
    gap: 10px;
    color: #FFFFFF;
    cursor: pointer;
    background: transparent;
    font-weight: 600;
    font-size: 16px;
}
/* .main-content1{
    text-align: center;
} */
.main-heading1{
    text-align: center;
    /* gap: 16px; */
}
.main-heading1 h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #001931;
}
.main-heading1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.main-card{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 60px 120px 48px 120px;
}
.card-info{
    width: 250px;
    height: 300px;
    /* gap: 16px; */
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.card-info h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
}
.card-info p{
    font-weight: 400px;
    font-size: 16px;
    line-height: 20px;

}
.circle{
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle img{
    width: 32px;
    height: 32px;
}
.main-part2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-content2{
    width: 700px;
    height: 396px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 40px; */
    padding: 190px 120px 120px 60px;
}
.main-content2-1 span{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #469165;
}
.main-content2-1 h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    color: #001931;
}
.main-content2-1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.main-img2{
    padding: 120px 0px 120px 120px;
}
.main-part3{
    width: 1600px;
    height: 506px;
    /* padding: 2px 120px 120px 120px; */
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main-part3-content{
    width: 1360px;
    height: 220px;
    background-color: #F7F6F2;
    padding: 80px 40px 80px 40px;
    gap: 24px;
    border-radius: 12px;
}
.main-content3-1 h2{
    font-weight: 700;
    size: 40px;
    line-height: 100%;
    color: #001931;
}
.main-content3-1 p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    /* padding: 16px 40px 192px 40px; */
}
.main-content3-2 button{
    color: #FFFFFF;
    padding: 12px 16px 12px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    gap: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 100%;
    box-shadow: 0 10px 20px 0 grey;
}
.main-content3-2 p{
    color: #627382;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
#footer{
    /* width: 1600px; */
    height: 250px;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
    border-top: 1px;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.social p{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}
.social i{
    color: #FFFFFF;
}
hr{
  border: 1px dotted;
  margin: 20px 0;
}
.copyright {
    color: #FAFAFA;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}